# Virtual environment directories and files
bin/
include/
lib/
pyvenv.cfg

# Python packaging artifacts
build/
*.egg-info/
*cache
dist/
# Ignore Python bytecode cache
__pycache__/
**/__pycache__/
*.py[cod]
